body {
  margin:0;
  padding:0;
  font-weight: 200;
  background-color: #65a3da;
}

header,
footer{
  display: flex;
  justify-content: center;
}

header a , 
footer a {
  color: white;
}

footer {
  font-size: 0.8em;
}

.bg-primary ,
.btn-primary{
  background-color: #65a3da !important;
  border: inherit;
}

.active {
  background-color: #65a3da !important;

}